In [10]:
# import requird Libraries
import numpy as np
import pandas as pd

In [12]:
# import the boston dataset
from sklearn.datasets import load_boston
boston_dataset = load_boston()

In [14]:
# create a pandas data frame and store the data 
df_boston = pd.DataFrame(boston_dataset.data)
df_boston.columns = boston_dataset.feature_names

In [15]:
# Append Price, target as new columns to the data set
df_boston['Price'] = boston_dataset.target

In [16]:
# print top five observations
df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [18]:
# Assign Features as X axis
X_features = boston_dataset.data

In [19]:
# Assign target on X  axis 
Y_target = boston_dataset.target

In [21]:
# import the linear model the estimator 
from sklearn.linear_model import LinearRegression
linReg = LinearRegression()

In [22]:
# fit the data into the estimator 
linReg.fit(X_features,Y_target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [23]:
# print the intercept
print("The estimaed intercept %.2f"%linReg.intercept_)

The estimaed intercept 36.46

In [24]:
#print the coefficient 
print("The coefficient is %d"%len(linReg.coef_))

The coefficient is 13

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate

In [35]:
# Train model split the whole dataset into traing and test datasets
X_train ,X_test ,Y_train ,Y_test = train_test_split(X_features,Y_target)

In [36]:
# print the data set shape
print(boston_dataset.data.shape)

(506, 13)

In [40]:
# print the shapes of the training and testing data sets
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(379, 13) (127, 13) (379,) (127,)
(379, 13)
(379,)
(127, 13)
(127,)

In [41]:
# fit the training sets into the model
linReg.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [48]:
# the mean square error (MSE) or residula sumof squares
print('MSE Value is %.2f'%np.mean((linReg.predict(X_test)-Y_test) **2))

MSE Value is 14.83

In [49]:
# Calculate Variance 
print("Variance Score is %.2f"%linReg.score(X_test,Y_test))

Variance Score is 0.78